


#header{
	position: relative;
	width: 100%;
}
.First-image {
  position: absolute;
  bottom: 20%;
  left: 60%;
  background-color: transparent;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  max-width:100%;
}
.MainImage{
max-width:100%;}

.row {
font-family: Arial, Helvetica, sans-serif;
font-size: 60px;
}
.row2 {
font-family: fantasy;
font-size: 100px;
}
.tabela1 {
   border-spacing:25px;


}
* {
  box-sizing: border-box;
}



.header {

  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding:  34px;
}

.column {
  -ms-flex: 33%;
  flex: 33%;
  max-width: 33%;
  padding: 24px;
}

.column img {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);

  margin-top: 8px;
  vertical-align: middle;
  width: 100%;

  
}
 
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
#TOPButton {
  display: none; 
  position: fixed;
  bottom: 10px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #3f6fce; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
  background-color: #4455FF;
  animation-name: button1;
  animation-duration: 10s;
  width:20%;
}
@keyframes button1 {
  from {background-color: #111111;}
  to {background-color: #2222FF;}
}
#TOPButton1 {
  background-color: #1e51f4;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  cursor:pointer;
  border-radius: 15px;
 
}
#TOPButton1:hover {background-color: #000000}
#img{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
ol {
  background: #cce5ff;;
  padding: 20px;
}

ul {
  
  background: #cce5ff;
  padding: 20px;
  cursor:pointer;
}

ol li {
  background: #3399ff;
  margin: 5px;
  cursor:pointer;
}

ul li {
  background: #3399ff;
  margin: 5px;
}
