body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
 
}

*{
    padding: 0;
    margin: 0;
}

/*  HEADER STYLE  */
a.isActive{
    border-bottom: 3px solid white;
}

#header{
    display: flex;
    justify-content: space-between;
    background-color:  #3f6fce;
    font-size: 20px;
height: 15vh;
    
}
.logo-container{
    display: flex;
    width: 30%;
    justify-content: center;
    position: relative;
}
.logo{
    width: 40%;
    position: absolute;
    top: 10%;
}

.menu-links{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.menu-links a,.contact-us a{
    height: fit-content;
    position: relative;
    top: 30%;
    text-decoration: none;
    color: white;

}
#header div{
    padding: 10px;
}
.contact-us{
    text-align: center;
width: 30%;
}
.contact-us a{   
     border:1px solid white;
    border-radius: 50px;
    padding: 15px 30px;
}
.contact-us a:hover{
    transition: ease-in 0.2s;
    background-color: white;
    color: #3f6fce;
    border-color: #3f6fce;
}

@keyframes slideAnimate{
    from {opacity: .2;}
    to {opacity: 1;}
}

@keyframes slideTextAnimate{
    from{left:0}
    to{left:20%}
}

.slideshow{
    position: relative;
    width: 100%;
}
.slideshow .slides{
    display: none;
    animation-name: slideAnimate;
    animation-duration: .3s;
}
.prev{
    position: absolute;
    top:50%;
    cursor: pointer;
    font-size: 20px;
    width: auto;
    color:white;
    padding: 20px;
    margin:auto;
}
.next{
    position: absolute;
    cursor: pointer;

    top:50%;
    font-size: 20px;
    width: auto;
    color:white;
    padding: 20px;
    margin:auto;

    right: 0;
}
/*  END OF HEADER STYLE */
.slides img{
    width: 100%;
    height: 650px;
    object-fit: cover;
}
.next:hover, .prev:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.slideText{
    position: absolute;
    animation-name: slideTextAnimate;
    animation-duration: .5s;
    top:50%;
    left: 20%;
    transform: translate(-20%,-50%);
    color:white;
    margin:0 10px;
}
.slideText h1{
    font-size: 50px;
}
.slideText .sliderSpecs{
    background-image: linear-gradient(to right,#3e70d6,#ff9900);
    color:white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 18px;
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.slideText .slider-icons{
    height: 32px;
    width: 32px;

}

.slideText .slideBtn{
    font-size: 16px;
    padding: 10px;
    border:1px white solid;
    border-radius: 50px;
    background-color: #ff9900;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition:background-color .5s;
    display: block;
}

.point {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 10px;
    background-color: #d1d1d1;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.point:hover, .active-point{
    background-color: #3e70d6;
}
.slideNav{
    margin-top: 10px;
    text-align: center;
}


.property-cities{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background: #f4f4f4;
}
.property-cities .cities-headline{
    color: #252525;
    text-align: center;
    padding:15px 0px;
}
.cities-row{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
}
.city{
    margin-bottom: 20px;
    margin-right: 15px;
    position: relative;
    height: 100%;
    cursor: pointer;
    width: 100%;
}

.city:hover .city-text{
    visibility: visible;
	opacity: 1;
}


.city-text{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:linear-gradient(to right,rgba(62, 112, 214,0.5), rgba(255, 153, 0,0.5));
    opacity: 0;
    visibility: hidden;
    transition: all .8s ease
}
.city-text h4{
    color:white;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    left:50%;
    top:30%;
    transform: translate(-50%,-30%);

}
.city img{
    height: 280px;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 560px) {
    .slideText .sliderSpecs{
        background-image: linear-gradient(to right,#3e70d6,#ff9900);
        color:white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 15px;
        border-radius: 50px;
        margin-bottom: 10px;
        padding: 9px 17px;
        width: fit-content;
    }
    .slideText .sliderSpecs div{
        margin-bottom: 10px;
        margin-top: 10px;
    }
  } 

@media screen  and (max-width:864px){
    .cities-row{
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-between;
    }
   
   
}

#logoText img{
    width: 150px;
}

#footer{
    background-color: #3f6fce;
    display: flex;
    flex-wrap: wrap;
}
#logoText{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:30%;
    padding: 30px;
    color: white;
    font-style: italic;
}
#footerProperties{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: white;
}
.footerImg{
    width: 100px;
}
.footerProperty{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.propertyInfo{
    margin-left: 20px;
}
#footerTitle{
    margin-bottom: 60px;
}

.propertyInfo span{
    color: lime;
    font-size: 18px;
}
.propertyInfo p{
    padding-bottom: 10px;
    font-size: 20px;
    padding-top: 5px;
}
.propertyInfo h6{
    font-style: italic;
}
#footerPropertiesContainer{
    
display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
}

#footerMenu{
    padding: 30px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
}
#callUsFooter a,#menuFooter a{
    color: #3f6fce;
    text-decoration: none;

}
#menuFooter{
    display: flex;
    flex-wrap: wrap;
}
#menuFooter a{
    padding:0 20px;
    font-size: 18px;
}

.p-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    background-blend-mode:normal;
}
.sub-contain{
    max-width: 540px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 1200px){
.sub-contain{
    max-width: 1170px;
}}
.sub-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.sub-col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
   display: block;
}
@media screen and (min-width: 992px){
    .flex-row{
        flex-direction: row;
    }
    .align-items-start{
        align-items: flex-start;
    }
    .justify-content-start{
        justify-content: flex-start
    }
    .d-flex{
        display: flex;
    }
}
.newsletter_title_container{
    margin-bottom: 30px;
    padding-right: 30px;
}
.newsletter_title{
    font-size: 30px;
    font-weight: 600;
    color: aliceblue;
    line-height: 0.75;
    white-space: nowrap;
}
.newsletter_subtitle{
    font-size: 14px;
    font-weight: 400;
    color: aliceblue;
    line-height: 0.75;
    margin-top: 15px;
}
.newsletter_form_container{
    width: 100%;
}
.newsletter_form{
    display: block;
    position: relative;
    width: 100%;

}
.newsletter_input{
    height: 52px;
    width: 100%;
    border-radius: 36px;
    background: #ffffff;
    border: none;
    outline: none;
}
.newsletter_btn{
    width: 173px;
    height: 52px;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    color: #FFFFFF;
    border-radius: 36px;
    border: none;
    outline: none;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    background: linear-gradient(to right, #487fee, #32fa95);
}
.contain{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.contain-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.contain-col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 90px;
    padding-left: 50px;
}